<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS_ABSOLUTE_PATH" value="/logs/ModulesLog"/>

    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ControllerAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%n====================%n %d{HH:mm:ss} : %msg%n====================</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_ABSOLUTE_PATH}/info/info-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>300MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="ErrorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%n====================%n %d{HH:mm:ss} : %msg%n====================</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_ABSOLUTE_PATH}/error/error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>300MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="SLACK" class="com.github.maricn.logback.SlackAppender">
        <channel>#채널</channel>
        <username>USER</username>
        <colorCoding>true</colorCoding>
        <webhookUri>https://hooks.slack.com/services/키값</webhookUri>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %msg %n</pattern>
        </layout>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>SLACK_MARKER</marker>
            </evaluator>
        </filter>
    </appender>

    <appender name="ASYNC_SLACK" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SLACK">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>
        </appender-ref>
    </appender>

    <logger name="com.util.modules.controller" level="INFO">
        <appender-ref ref="ControllerAppender"/>
    </logger>

    <logger name="com.util.modules.aspect" level="INFO">
        <appender-ref ref="ControllerAppender"/>
    </logger>

    <logger name="com.util.modules.log" level="ERROR">
        <appender-ref ref="ErrorAppender"/>
    </logger>

<!--    <logger name="com.util.modules.log" level="ERROR">-->
<!--        <appender-ref ref="ASYNC_SLACK"/>-->
<!--    </logger>-->

    <root level="DEBUG">
        <appender-ref ref="ConsoleAppender"/>
    </root>
</configuration>